package vip.isass.foundation.${cfg.moduleName};

#foreach($table in ${tables})
import ${cfg.package}.${cfg.moduleName}.auto.service.${cfg.prefix?cap_first}${table.entityName}ServiceTest;
#end
import org.junit.runner.RunWith;
import org.junit.runners.Suite;

/**
 * @author isass
 */
@RunWith(Suite.class)
@Suite.SuiteClasses({
#foreach($table in ${tables})
        ${cfg.prefix?cap_first}${table.entityName}ServiceTest.class#if($velocityCount != $tables.size()),
#end
#end
})
public class ${cfg.prefix?cap_first}${cfg.moduleName.substring(0,1).toUpperCase()}${cfg.moduleName.substring(1)}TestSuite {
}
