package ${package.Service.replace(".service",".auto.service")};

import vip.isass.core.entity.IEntity;
import vip.isass.core.web.ICriteria;
import vip.isass.core.web.IService;
import vip.isass.core.web.vip.isass.framework.lowcode.AbstractRollbackServiceTestClass;
import ${cfg.package}.${cfg.moduleName}.${cfg.moduleName.substring(0,1).toUpperCase()}${cfg.moduleName.substring(1)}App;
import ${cfg.package}.${cfg.moduleName}.api.criteria.${entity}Criteria;
import ${package.Entity}.${entity};
import org.springframework.boot.test.context.SpringBootTest;

import javax.annotation.Resource;

/**
 * <p>
 * $!{table.comment} 单元测试
 * </p>
 *
 * @author ${author}
 */
@SpringBootTest(classes = ${cfg.moduleName.substring(0,1).toUpperCase()}${cfg.moduleName.substring(1)}App.class)
public class ${cfg.prefix?cap_first}${table.serviceName}Test extends AbstractRollbackServiceTestClass {

    @Resource
    private ${cfg.prefix?cap_first}${table.serviceName} ${cfg.prefix}${table.serviceName};

    @Override
    public ICriteria getCriteria() {
        return new ${entity}Criteria();
    }

    @Override
    public IEntity genEntity() {
        return new ${entity}().randomEntity();
    }

    @Override
    public IService getService() {
        return ${cfg.prefix}${entity}Service;
    }

}
