#foreach($table in ${tables})
CREATE TABLE `${table.name}` (
#foreach($field in ${table.fields})
  `${field.name}` ${field.type} CHARACTER SET utf8 NOT NULL COMMENT '${field.comment}',
#end

  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 ROW_FORMAT=DYNAMIC COMMENT='${table.comment}';

#end

 `account` varchar(32) CHARACTER SET utf8 NOT NULL DEFAULT '' COMMENT '账号[可用于登录]',
  `mobile` varchar(32) CHARACTER SET utf8 NOT NULL DEFAULT '' COMMENT '手机号码[可用于登录]',
  `email` varchar(32) CHARACTER SET utf8 NOT NULL DEFAULT '' COMMENT '电子邮箱[可用于登录]',
  `password` varchar(32) CHARACTER SET utf8 NOT NULL DEFAULT '' COMMENT '密码[如果为-1，则需要用户重置密码]',
  `nick_name` varchar(16) NOT NULL DEFAULT '' COMMENT '昵称',
  `profile_picture` varchar(255) CHARACTER SET utf8 NOT NULL DEFAULT '' COMMENT '头像地址',
  `version` int(11) NOT NULL DEFAULT '1' COMMENT '版本',
  `delete_flag` tinyint(1) NOT NULL DEFAULT '0' COMMENT '删除标记',
  `create_user_id` varchar(64) CHARACTER SET utf8 NOT NULL DEFAULT '' COMMENT '[创建用户的 id][PK]',
  `create_user_name` varchar(16) NOT NULL DEFAULT '' COMMENT '[创建用户的 id]',
  `create_time` bigint(20) NOT NULL DEFAULT '0' COMMENT '创建时间',
  `modify_user_id` varchar(64) CHARACTER SET utf8 NOT NULL DEFAULT '' COMMENT '修改用户的 id[PK]',
  `modify_user_name` varchar(16) NOT NULL DEFAULT '' COMMENT '修改用户的用户名',
  `modify_time` bigint(20) NOT NULL DEFAULT '0' COMMENT '修改时间',